
.topnav {
  background-color: #FFFFFF;
  overflow: hidden;
  border-bottom: 2px solid #194179
  top: -50px;
  width: 100%;
  transition: top 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #194179;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FFFFFF;
  color: #194179;
  font-family: "allotrope";
  font-weight: 600;
  font-size: 98px;
  margin: 0px 0px 0px 30px;
}

body {
  margin:0;
}

.topnav a.menu {
  margin: 0px;
  padding: 0px 75px;
}

.topnav a.menu1 {
  margin: 0px;
  padding: 0px 75px;
  border-left: 2px solid #194179;
}

.menupunkter {
  float: right;
  padding: 90px 0px 12px 0px;
  font-family: "allotrope";
  font-weight: 600;
}

.menu1 {
  overflow: hidden;
  white-space: nowrap;
}

.scrollbar {
  background-color: #FFFFFF;
  font-family: "allotrope";
  font-weight: 600;
  position: fixed;
  top: -80px;
  width: 100%;
  transition: top 0.3s;
  font-size: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.scrollbar a {
  float: left;
  display: block;
  color: #194179;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  float: right;
  padding: 0px 100px;
}

.scrollbar a:hover {
  background-color: #ddd;
  color: black;
}

.scrollbar a.menu2 {
    border-left: 2px solid #194179;
}

.Broedtekst {
  max-width: 100%;
  font-family: "allotrope";
  font-weight: 400;
  margin-left: 35px;
}

.broedtekst1 {
    border-right: 1px solid #194179;
    max-width: 50%;
    padding-right: 75px;
    padding-left: 22px;
}

.broedtekst2 {
    max-width: 75%;
    padding-right: 75px;
    padding-left: 20px;
}

.Overskrift {
  font-family: "allotrope";
  color: #194179;
  font-weight: 600;
  margin-left: 35px;
  padding-left: 20px;
}

.kontakt {
  font-family: "allotrope";
  color: #194179;
  font-weight: 600;
  margin-left: 35px;
  float: right;
  padding-right: 33%;
  margin-top: 0;
}

.kontaktoplysning {
  float: right;
  width: 41.1%;
}

.navn {
  padding-bottom: 20px;
  font-family: "allotrope";
  font-size: 24px;
}

.billede {
  float: left;
  padding-right: 20px;
  padding-top: 8px;
  border-radius: 45%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

.Slide {
    display: none;
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.prik {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #194179;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .prik:hover {
    background-color: #717171;
  }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

.zoom {
    float: left;
    padding: 0px;
    transition: all .2s;
    width: 100%;
    margin: auto;
  }

.column img:hover {
    transform: scale(1.05);
    filter:contrast(50%) brightness(150%) blur(2px);
  }

.row{
    text-align:center;
}

.column{
    display:inline-block;
    margin: auto;
    padding:  45px 35px;
}

.midtertekst {
  text-align: center;
  font-family: "allotrope";
  color: #194179;
  margin: 0;
}

.undermidtertekst {
  color: #000000;
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.mellemrum {
  padding: 15px;
}

hr.solid {
  border-top: 5px solid #707070;
}

.zoom1 {
    float: left;
    padding: 0px;
    transition: all .2s;
    width: 100%;
    margin: auto;
  }

.column1 img:hover {
    transform: scale(1.05);
    filter:contrast(50%) brightness(150%) blur(2px);
  }

.column1{
    display:inline-block;
    margin: auto;
    padding:  15px 35px;
}

.billedetext {
  font-size: 28px;
  font-family: "allotrope";
  color: #194179;
  font-weight: 600;
  text-decoration: none;
  padding-top: 5px;
}

.bund {
  background-color: #194179;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.menubund1 {
  float: right;
  padding: 0px 25px;
  color: #FFFFFF;
  font-family: "allotrope";
  background-color: #194179;
  padding-top: 60px;
}

.menubund2 {
  float: left;
  padding-left: 25px;
  color: #FFFFFF;
  font-family: "allotrope";
  font-size: 55px;
  background-color: #194179;
}

.logo {
  color: #194179;
}

.knap-box {
  width: 50%;
  background: none;
  overflow-y: auto;
  border-left: 2px solid #194179;
  border-right: 2px solid #194179;
  border-top: 2px solid #194179;
}

.knap-box > a {
  width: 20%;
  height: 15%;
  float: left;
  background: white;
  margin: 0px;
  margin-bottom: 0px;
  text-align: center;
  border-radius: 0%;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
}

.knap-box1 a:hover {
  background: grey;
}

.knap-box1 {
  width: 50%;
  background: none;
  overflow-y: auto;
  border-left: 2px solid #194179;
  border-right: 2px solid #194179;
  border-bottom: 2px solid #194179;
  text-align: center;
}

.knap-box1 > a {
  width: 20%;
  height: 15%;
  float: left;
  background: #194179;
  margin: 0px;
  margin-top: 0px;
  text-align: center;
  border-radius: 0%;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
}

.knap {
  margin-top: 50px;
  font-family: "allotrope";
  color: white;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.knap1 {
  margin-top: 50px;
  font-family: "allotrope";
  color: #194179;
  font-weight: 600;
  background-color: white;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.menu-box {
  padding-left: 55px;
  max-width: 100%
  border: 2px solid #194179;
  margin: auto;
}

.border {
  transform: scale(100%);
}
